.mybar--container {
  background-color: #61576b;
  width: calc(100vw - 15rem);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mybar--heading {
  align-self: flex-start;
  font-size: 4rem;
  margin: 2rem;
}

.mybar--header {
  height: 10%;
}

.mybar--display {
  display: flex;
  width: 100%;
  height: 90%;
}

.mybar--display-left {
  width: 65%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mybar--display-right {
  width: 35%;
}
