.mybar--container {
  background-color: #61576b;
  width: calc(100vw - 15rem);
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mybar--heading {
  align-self: flex-start;
  font-size: 4rem;
  margin: 2rem;
}

.mybar--display {
  display: flex;
  width: 100%;
}

.mybar--display-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mybar--display-right {
  width: 35%;
}
