.sidebar--container {
  height: 100%;
  width: 15rem;
  display: flex;
  flex-direction: column;
  background-color: #48404f;
  color: #ebe6f0;
  position: fixed;
}

.sidebar--container li {
  font-size: 1.6rem;
  display: flex;
}

.sidebar--container li:hover {
  background-color: #2f2a34;
  cursor: pointer;
}

.sidebar--container li a {
  text-decoration: none;
  color: #ebe6f0;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.list-span {
  margin-left: 1rem;
}

.sidebar-icons {
  color: white;
  width: 3rem;
}

.sidebar--container li a svg {
  width: 3rem;
}
